# Predicting Loan status for new Records
-------------------
FSDS Machine Learning Workshop , October 16, 2022


> <i>Description: Predicting the loan status on new records </i>

### Pre requisites: 
1. Make sure the user has all the data science packages installed


Input File: 
- rf_model.pkl

# 1. Tools and Packages

In [1]:
import numpy as np
import pandas as pd
import pickle
import os

from sklearn.preprocessing import StandardScaler
from sklearn import svm

from sklearn import metrics


from sklearn.svm import SVC


import warnings
warnings.filterwarnings("ignore")

In [2]:
# load the csv
df = pd.read_csv("sample.csv")

In [3]:
#displaying the contents of the dataframe
df

,loan_percent_income,loan_grade,person_income,person_home_ownership,loan_int_rate
0,0.21,C,53000,MORTGAGE,NaN
1,0.27,C,52800,RENT,14.27
2,0.21,C,19200,RENT,14.35
3,0.23,A,61000,RENT,6.99
4,0.19,C,46000,RENT,14.27

## 2. Transformation

In [4]:
# converting the string input to the numerical as we done in the EDA notebook
df.replace(to_replace={'person_home_ownership': {'RENT': 0,
                                                 'MORTGAGE': 1,
                                                 'OWN': 2,
                                                 'OTHER': 3},
                      'loan_grade': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6}}, inplace=True)

In [5]:
df['loan_int_rate'].fillna(11.07, inplace=True)

## 3. Loading the trained model

In [6]:
# loading the pickled model
with open('rf_model.pkl', 'rb') as f:  # Python 3: open(..., 'wb')
    rf_model = pickle.load(f)

In [7]:
# predicting the loan status for the new data 
rf_model.predict(df)

array([0, 0, 1, 0, 0], dtype=int64)

In [8]:
# assigning the predicted loan status for final view
df['loan_status_predicted'] = rf_model.predict(df)

In [9]:
df

,loan_percent_income,loan_grade,person_income,person_home_ownership,loan_int_rate,loan_status_predicted
0,0.21,2,53000,1,11.07,0
1,0.27,2,52800,0,14.27,0
2,0.21,2,19200,0,14.35,1
3,0.23,0,61000,0,6.99,0
4,0.19,2,46000,0,14.27,0

### End of the Notebook